.grid *, .grid *:after, .grid *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    padding-bottom: 15px;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
.grid-border{
    display: flex;
    flex-wrap: wrap;
}
[class*='col-'] {
    float: left;
}
.col-1-1 {
    width: 100%;
}
.col-1-2 {
    width: 50%;
}
.col-avatar {
    width: 73px;
}
.col-avatar img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    display:block;
    width:60px;
    height: 60px;

    border:1px solid #E4E4E4;
}
.uploadImage{
    margin-top: 20%;
    width: 50%;
    margin-left: 25%;
    margin-right: 0%;
}
.uploadImage img{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    display:block;
    width:200px;
    height: 200px;

    margin: 0 auto;
}
.col-avatar img:hover {
    box-shadow:0 0 15px #00aaff;
    border:1px solid #00aaff;
}
.clear_image {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    margin-right: 20%;
    margin-top: 20%;
}
.clear_image:hover {
    opacity: 1;
}
.clear_image:before, .clear_image:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.clear_image:before {
    transform: rotate(45deg);
}
.clear_image:after {
    transform: rotate(-45deg);
}
.col-desc {
    width: calc(100% - 73px);
}
.module {
    padding: 15px 20px 15px 15px;
    height: 103px;
}

@media screen and (max-width: 899px)
{
    .module {
        height: 108px;
    }
    .module-6 {
        height: 155px;
    }
    .module-more {
        height: 170px;
    }
}

@media screen and (min-width: 900px)
{
    .module {
        height: 103px;
    }
    .module-6 {
        height: 145px;
    }
    .module-more {
        height: 158px;
    }
}

.grid-border > [class*='col-'] {
    border: 1px solid #E4E4E4;
    border-right-width: 0;
    border-bottom-width: 0;
}
.grid-border > [class*='col-']:nth-last-child(odd) {
    border-right-width: 1px;
}
.grid-border > [class*='col-']:nth-last-child(-n+2) {
    border-bottom-width: 1px;
}

.user-issues {
    margin: 0;
    padding: 0;
    width: 100%;
}
.user-issues td {
    padding: 0 0 2px;
}
.user-issues .user-name {
    font-size: 13px;
    padding-bottom: 8px;
    width: 100%;
}
.user-issues .more {
    padding: 5px 0 0;
}
.user-issues .eta {
    text-align: right;
    width: 39px;
}
.user-issues .initials {
    text-align: right;
    width: 21px;
}
.user-issues .team {
    padding: 0 4px;
}
.user-issues .other-team {
    filter: grayscale(100%);
    opacity: .7;
}
.user-issues .other-team a {
    opacity: .9;
}
.user-issues .team.undefined {
    color: #cdcdcd;
}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shaded-font {
    color: #999;
}

.story-points {
    text-align: right;
}

span.disabled-font,
a.disabled-font {
    color: #AAA;
}

span.points {
    margin: 0px 5px;
    float:right;
    clear:right;
    padding-top: 5px;
}

.priority {
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 3px 5px 3px 1px;
    float: left;
}
.low-priority {
    background: #9BCA3E;
}
.normal-priority {
    background: #3ABBC9;
}
.high-priority {
    background: #FFB92A;
}
.urgent-priority,
.immediate-priority {
    background: #ED5314;
}
.disabled-priority {
    background: #AAA;
}

.unoccupied-hours,
.daily-report {
    position: relative;
    color: #FFF;
    padding: 0px 6px 1px 6px;
    border-radius: 3px;
    margin-left: 4px;
}
.eight-unoccupied-hours,
.has-no-report {
    background: #ED5314;
}
.three-unoccupied-hours,
.wants-to-talk {
    background: #FFB92A;
}

.notes-link {
    float: right;
    font-size: 11px;
    margin-top: 1px;
}

.issue-will-be-ready {
    text-decoration: line-through;
}

.filter-block {
    margin-right: 10px;
}
.filter-block select {
    width: 99%;
}
.filter-block li {
    min-height: 25px;
}

.issue-card.red {background-color: #FFE2E3; border-color: rgb(255, 201, 201);}
.issue-card.green {background-color: #DFFFCC; border-color: rgb(190, 239, 190);}
.issue-card.blue {background-color: #DCE7FF; border-color: rgb(189, 189, 233);}
.issue-card.turquoise {background-color: #C4FDFF; border-color: rgb(151, 222, 214);}
.issue-card.lightgreen {background-color: #D2FFEF; border-color: rgb(184, 228, 226);}
.issue-card.yellow {background-color: #FFFD9C; border-color: rgb(234, 234, 94);}
.issue-card.orange {background-color: #FFDBBA; border-color: rgb(255, 202, 105);}
.issue-card.purple {background-color: #EFDFFC; border-color: rgb(233, 186, 233);}
.issue-card.gray {background-color: #e1e1e1; border-color: rgb(198, 198, 198);}

.issue-card {
    padding: 5px;
    border: solid 1px #d5d5d5;
    background-color: #ffffdd;
    margin: 5px;
    word-wrap: break-word;
    text-align: left;
    white-space: normal;
    cursor: auto;
    position: relative;
}
